clearfix()
  &:after
    content: ""
    display: table
    clear: both

minWidth()
  width: 70%
  min-width: 1200px
  margin: 0 auto

textOverflow(width)
  display: inline-block
  white-space: nowrap
  width: width
  overflow: hidden
  text-overflow: ellipsis
